
.class {
	border: 4px solid rgb(0,216,255);
	border-radius:10px;
}
.myclass {
			border: 4px solid rgb(0,216,255);
			font-size: 15px;
			font-weight: bold;
			color: white;
			background-color: magenta;
			border-radius:10px;
}
#myid {
	border: 4px solid blue;
	border-radius:10px;
}

